
/*------------------------------------------------------
Table of content
--------------------------------------------------------
1.General Styles
2.Preloader page
3.Navigation
4.Hero
5.About
6.Features
7.Testimonials
8.Pricing table
9.Download
10.Footer
11.Blog
12.Signle post





/*----------------------------------------
Fonts
-----------------------------------------*/

@font-face {
  font-family: 'Hk_Groteskregular';
  src: url('../fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
  url('../fonts/hkgrotesk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/*----------------------------------------
General Styles
----------------------------------------*/
body {
  font-family: 'Hk_Groteskregular', sans-serif;
  font-size: 15px;
  line-height: 26px;
  overflow-x: hidden;
  color: #777777;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Hk_Groteskregular', sans-serif;
  margin-bottom: 10px;
  line-height: 24px;
  font-weight: 700;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
  display: block;
}
h1{
  font-size: 38px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 26px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 18px;
}
h6{
  font-size:16px;
}
a{
  text-decoration: none;
  transition: all 0.4s ease;
}
a:hover {
  color: #1968e0;
  text-decoration: none;
}
ul, ol{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
  height: auto;
}
p{
  font-weight: 300;
}
hr.hr{
  margin: 50px 0;
  opacity: 0.75;
}
.row-centered{
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  text-align: center;
}
.color-white{
  color: #fff;
}
.color-black{
  color: #222;
}
.content-col-left{
 position: relative;
 float: left;
 width: 40%; 
}

.content-col-right{
 position: relative;
 float: right;
 width: 60%; 
}
.bg-color-1{
        background: #0d89ed;
    background: -moz-linear-gradient(top, #42a5f5 0%, #0d89ed 0%, #42a5f5 0%, #0d89ed 100%);
    background: -webkit-linear-gradient(top, #42a5f5 0%, #0d89ed 0%, #42a5f5 0%, #0d89ed 100%);
    background: linear-gradient(to bottom, #42a5f5 0%, #0d89ed 0%, #42a5f5 0%, #0d89ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a5f5', endColorstr='#0d89ed', GradientType=0);
}
/*-------margins padding--------*/

.mg-tp-20{
  margin-top: 20px;
}
.mg-tp-30{
  margin-top: 30px;
}
.mg-tp-40{
  margin-top: 40px;
}
.mg-tp-80{
  margin-top: 80px;
}
.mg-bt-20{
  margin-bottom: 20px;
}
.mg-bt-30{
  margin-bottom: 30px;
}
.mg-bt-40{
  margin-bottom: 40px;
}
.mg-bt-60{
  margin-bottom: 60px;
}
.mg-tp-60{
  margin-top: 60px;
}
.pd-bt-0{
  padding-bottom:0!important;
}
.pd-bt-40{
  padding-bottom: 40px;
}
.pd-bt-60{
  padding-bottom: 60px;
}
.pd-bt-80{
  padding-bottom: 80px;
}
.pd-tp-20{
  padding-top: 20px;
}
.pd-tp-30{
  padding-top: 30px;
}
.pd-tp-50{
  padding-top: 50px;
}
.pd-tp-60{
  padding-top: 60px;
}
.pd-tp-80{
  padding-top: 80px;
}
.padd-40{
  padding-top: 40px;
  padding-bottom: 40px
}
.padd-80{
  padding-top: 80px;
  padding-bottom: 80px
}
.padd-100{
  padding-top: 100px;
  padding-bottom: 100px
}
.padd-150{
  padding-top: 150px;
  padding-bottom: 150px
}
.special-padd  {
    padding-bottom: 70px;
}
/*-------Buttons--------*/

.btn{
 padding: 15px 45px;
 border-radius: 100px;
 font-size: 12px;
 border:none;
 font-weight: bold;
 color:#fff;
 text-transform: uppercase;
 box-shadow: 0 10px 35px 2px rgba(61, 61, 61, .30);
}
.btn:hover, .btn:focus{
  box-shadow: 0 5px 20px 1px rgba(61, 61, 61, .20);
  color:#fff;  
}
.btn-color, .btn-color:hover, .btn-color:focus, .btn-color:active {
  color:#fff;
  background: #0d89ed;
  background: -moz-linear-gradient(top, #42a5f5 0%, #0d89ed 0%, #42a5f5 0%, #0d89ed 100%);
  background: -webkit-linear-gradient(top, #42a5f5 0%,#0d89ed 0%,#42a5f5 0%,#0d89ed 100%);
  background: linear-gradient(to bottom, #42a5f5 0%,#0d89ed 0%,#42a5f5 0%,#0d89ed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a5f5', endColorstr='#0d89ed',GradientType=0 ); 
}
.btn-white,
btn-white:hover,
btn-white:focus,
btn-white:active{
  color:#0d89ed!important;
  background: #fff;
 
}

/*----------------------------------------
Preloader page
----------------------------------------*/
#loading-page{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: #ffffff;
}
#loading-center-page{
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
}

.loader {
 width: 56px;
 height: 56px;
 border: 8px solid rgba(171, 130, 253, 0.25);
 border-top-color: #8665fe;
 border-radius: 50%;
 position: relative;
 animation: rotate 1s linear infinite;
 top: 50%;
 margin: -28px auto 0 auto;
}
@keyframes rotate {
  0% {
    transform: rotate(0); }
    100% {
      transform: rotate(360deg); } }
/*----------------------------------------
Navigation
----------------------------------------*/
.navbar-brand{
  float: left;
  margin-left: 0!important;
  padding: 0  30px 0 0;

}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding: 5px 5px 4px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  font-family: 'Hk_Groteskregular', sans-serif;
}
.navbar-default .navbar-right > li + li {
  margin-left: 15px;
}
.navbar-right{
  margin-right: 0;
}
.navbar-default {
  padding: 20px 15px;
  background-color: transparent;
  border-color: transparent;
  -webkit-transition: all .5s ease .25s;
  transition: all .5s ease .25s;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a{
  background-color: transparent!important;
  color: #eee9;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active:hover>a{
  background-color: transparent;
  color: #eee;
}
.navbar-default .navbar-collapse .navbar-nav > li:first-child{
  margin-left: 0;
}

.navbar-collapse .navbar-right > li > a:focus {
  outline: none;
  background-color: transparent;
  color: white;
}
.navbar-default .navbar-nav>li>a.active-link {
  color: #fff;
}
header .navbar-default li.connect-links{
 margin-left: 150px;
}
.navbar-default li.connect-links a {
  display: inline-block;
  margin-right: 20px;
  color:#fff;
}
.navbar-default li.connect-links a.white-btn:hover,
.navbar-default li.connect-links a.white-btn:focus,
.navbar-default li.connect-links a.white-btn:active{
  color:#fff;
} 
.navbar-default li a.btn-login{
  font-size: 16px;
  line-height: 17px;
  padding: 12px 35px;
  margin-right: 0;
  color: #0d89ed!important;
  background-color:#fff;
  box-shadow: 0 10px 35px 2px rgba(61, 61, 61, .2);
  border-radius: 45px;
  display: inline-block;
  transition: all 0.2s linear;
}

header .navbar-default li a.btn-login:hover, .navbar-default li a.btn-login:focus{
  background-color:#fff;
  color:#0d89ed;
  box-shadow: 0 5px 25px 1px rgba(61, 61, 61, .2);
}
.affix {
    
    background: #0d89ed;
    background: -moz-linear-gradient(top, #42a5f5 0%, #0d89ed 0%, #42a5f5 0%, #0d89ed 100%);
    background: -webkit-linear-gradient(top, #42a5f5 0%, #0d89ed 0%, #42a5f5 0%, #0d89ed 100%);
    background: linear-gradient(to bottom, #42a5f5 0%, #0d89ed 0%, #42a5f5 0%, #0d89ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a5f5', endColorstr='#0d89ed', GradientType=0);
  z-index: 999;
  
  border: none;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.15);
  padding-top: 10px;
  padding-bottom: 10px;
}
.affix .navbar-nav>.active>a,
.affix .navbar-nav>li>a:hover,
.affix .navbar-nav>.active:hover>a {
  color:#eee!important;  
}
.affix li.connect-links a{
  color: #fff;
}
.affix li a.btn-login {
  line-height: 17px;
  color: #8e6cff;
}
 .navbar-default li ul{
    display: block !important;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 100%;
    padding: 10px 0;
    width: 200px;
    z-index: 100;
    display: none;
    /* padding: 0px 0px; */
    background: #ffffff;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05), -2px 0px 5px 1px rgba(0,0,0,0.05);
    -ms-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
    -o-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05), -2px 0px 5px 1px rgba(0,0,0,0.05);
 }
 .navbar-default li  ul li {
    position: relative;
    width: 100%;
}
 .navbar-default li  ul li a {
    position: relative;
    display: block;
    padding: 5px 20px;
    line-height: 22px!important;
    font-weight: 500;
    font-size: 14px;
    color: #637282;
    text-align: left;
    text-transform: capitalize;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
  .navbar-default li  ul li a:hover, 
   .navbar-default li  ul li a:focus,
     .navbar-default li  ul li a:active{
color:#0d89ed;
  }
 .navbar-default li.dropdown:hover > ul{
  visibility:visible;
  opacity:1;
  top:90%; 
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease; 
}
/*----------------------------------------
Hero
----------------------------------------*/
.section-hero{
    height: 100vh;
    -webkit-clip-path: ellipse(100% 80% at 75% 20%);
    clip-path: ellipse(100% 80% at 70% 20%);
    padding-top: 80px;
    position: relative;
    /* padding-bottom: 80px; */
    color:#fff;
}
 
.play-btn {
  display: block;
  position: absolute;
   top: 150px;
   left: 0;
}
.section-hero-inner .container{
  height: 100%;
}
.hero-text{
  padding: 60px 0 35px 0;
}
.section-hero-content .hero-text h1{
  font-size: 50px;
  margin: 0 0 8px;
  font-weight: 600;
  color: #fff;
  line-height: 60px;

}
.hero-text p{
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.arrow-down-btn a{
  font-size: 35px;
  color:#fff;
}
.content-col-inner{
  position: relative;
  float: right;
  width: 100%;
  max-width: 430px;
}
.content-col-image{
 position: relative;
 float: left;
 max-width: 100%;
 padding-top: 20px;
 right: -250px;
}
 

/*----------------------------------------
About
----------------------------------------*/

#about{
      padding: 80px 0;  
}
.col-image{
 position: relative;
 float: left;
 width: 50%; 
}
.text-col{
 position: relative;
 float: right;
 width: 50%; 
}
.col-image-inner{
 position: relative;
 float: left;
 max-width: 100%;
 left: -150px; 
 top: -50px;
}
.about-inner{
  position: relative;
}
 
.text-col-inner {
  position: relative;
  max-width: 560px;
  padding: 0 0 50px 15px;
}
.section-padd{
  padding: 80px 0;
}

.about-text h2,.text-content h2{
  font-size: 42px;
  margin-bottom: 25px;
  line-height: 45px;
  margin-top: 0;
  color:#181b3a;
  font-weight: 600;
}
.about-text p, .text-content p, .icon-block  p{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67;
  color: #637282;
}
.icon-block{
  position: relative;
  text-align: center;

}
.icon-block h3{
  color:#181b3a;
  font-size: 22px;
  margin-bottom: 15px;
}
.icon-block i{
  font-size: 40px;
  line-height: 45px;
  color:#8767ff;
}

#about-app{
  position: relative;
}

 
 /*----------------------------------------
Features
----------------------------------------*/
#features, #pricing, #features-tabs{
   background-color: #f9f7ff;
}
.feature-col-left{
 position: relative;
 float: left;
 width: 50%; 
}
.feature-col-inner{
  position: relative;
  float: right;
  width: 100%;
  max-width: 560px;
}
.feature-col-right .col-image-inner{
  position: relative;
  float: left;
  max-width: 100%;
  padding-top: 20px;
  right: -150px;
  position: relative;
  float: right;
  max-width: 100%;
  padding-top: 20px;
  right: -0px;
  left: auto;
 
}
.list-block {
  margin-top: 40px;
  margin-bottom: 30px;
}
.list-block li{
  padding-left: 15px;
  position: relative;
  font-size: 16px;
  line-height: 35px;
  color: #7d7f92;
  font-weight: 600;
}
.list-block li:before{
  font-family: 'ElegantIcons';
  content: "\4e";
  position: absolute;
  left:-8px;
  top:10px;
  color:#8967ff;
  display :inline-block;
  background-color:#e1d3ff; 
  width: 18px;
  line-height:18px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.feature-block {
 padding: 40px;
 margin-bottom: 30px;
 box-shadow: 0 10px 35px 2px rgba(61, 61, 61, .20);
 border-radius: 15px;
 background-color: white;
}
.feature-block img{
  width: 55px;
  height: auto;
}
.feature-block h3{
  color: #181b3a;
  font-weight: 700;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 35px;
}
.feature-block p{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67;
  text-align: left;
  margin-bottom: 20px;
  color: #637282;
}
.feature-block a{
 font-size: 20px;
 color: #8767ff; 
}
.feature-block a i{
  position: relative;
  top: 4px;
}


 /*----------------------------------------
Features tabs
----------------------------------------*/
.tab-box{
    padding-top: 30px;
}
.tab-box .nav-tabs{
position: relative;
  text-align: center;
}
.tab-box .nav-tabs li{
  float: none; 
    display: inline-block;
  text-align: center;   
}
.tab-box .nav-tabs li a{
      color: #7d7f92;
    font-weight: 600;
    font-size: 18px;
    border-left:none;
    border-right: none;
    border-top:none;
  border-bottom: 3px solid transparent;    
}
.tab-box .nav-tabs>li.active>a,
.tab-box  .nav-tabs>li.active>a:focus,
.tab-box .nav-tabs>li.active>a:hover,
.tab-box .nav-tabs>li.active>a:active{
  background-color: transparent;
  border-bottom: 3px solid #0d89ed; 
border-left:none;
    border-right: none;
    border-top:none;
}
 
.tab-box .nav-tabs>li>a:hover{
    border-color:transparent;
}
.tab-box .nav>li>a:focus, .tab-box .nav>li>a:hover{
    background-color: transparent;
}

.tab-box  .nav-tabs>li.active>a {
    color: #0d89ed;
       border-bottom: 3px solid #0d89ed; 
}
.tab-box .tab-content{
    padding-top: 40px; 
    position: relative;
    text-align: left;
}
.tab-box .tab-content h3{
     color: #181b3a;
    font-size: 22px;
    margin-bottom: 15px;
    
}
.tab-box .tab-content p{
      font-size: 18px;
    font-weight: 300;
    line-height: 1.67;  
}
.tab-box .tab-content a{
      font-size: 16px;
    color: #8767ff;  
}
.tab-box .tab-content a i{
     position: relative;
    top: 3px;   
}
/*----------------------------------------
Testmonials
----------------------------------------*/

.testimonial-block{
  padding: 80px 0 0 0;
  position: relative;
}
.testimonial-block:after{
  display: block;
  width: 580px;
  height: 930px;
  content: "";
  position: absolute;
  top: -130px;
  z-index: -1;
  background: url(https://design-graphma.com/demo/stribe/demo2/assets/images/img-left.png);
  left: 0px; 
}
.testimonial-item h3{
  color: #181b3a;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 40px;
}
.testimonial-caroussel.owl-theme .owl-dots .owl-dot.active span{
  width: 15px;
  height: 15px;
  background: #906dfe;
  margin: 3px 7px;
}

.testimonial-block .col-image-inner{
  left: -50px;
}
.quote img{
  width:60px;
  height: auto;
}

.bottom-text-item  p{
 font-size: 18px;
 font-weight: 300;
 line-height: 1.67;
 text-align: left;
 margin-bottom: 20px;
 color: #637282; 
}
.testimonial-block .owl-dots{
  text-align: left;
}  
.testimonial-block .text-col-inner{
  padding: 120px 0 50px 15px;
}
/*----------------------------------------
Pricing
----------------------------------------*/
.table-price  .column-item {
  display: inline-block;
  vertical-align: top;
}

.table-plan h3{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #344154;
}
.content-plan ul{
  margin-top: 25px;
}
.content-plan ul li{
  color: #637282;
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 42px;
}
.table-inner{
   margin-bottom: 20px;
  min-height: 450px;
  padding: 30px 40px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 9px 16px 0 rgba(224, 229, 238, .5);
  box-shadow: 0 9px 16px 0 rgba(224, 229, 238, .5);
  border: solid 1px #e5eaed;
  position: relative;
  padding: 30px 50px;
}
.content-plan sup{
  font-size: 19px;
  letter-spacing: -0.9px;
  text-align: center;
  color: #906dfe;
  top: -1em;
}
.content-plan strong{
  font-size: 65px;
  letter-spacing: -2px;
  text-align: center;
  color: #906dfe;
}
.content-plan sub{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67;
  color: #637282
}
.price-content-btn{
  padding-bottom: 45px;
  padding-top: 45px;
  border-bottom: 1px solid #e5eaed;
}
.table-plan{
  padding-bottom: 50px;
}
.table-price .active .table-inner{
 border: none;
 box-shadow: 0 10px 35px 2px rgba(61, 61, 61, .20);
 border-top: 4px solid #906dfe;
}


/*----------------------------------------
Downlaod
----------------------------------------*/

.down-inner{
      padding-bottom: 80px;
      padding-top: 80px;
}
.featured-downlaod h2{
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 45px;
  color: #181b3a;
  font-weight: 600;
}
.featured-downlaod p{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67;
  color: #637282;
}
.actions-btn {
  position: relative;
  padding-top: 30px;
}
.actions-btn .btn{
  text-align: left;
  position: relative;
  padding: 13px 30px 13px 45px;
  margin-right: 20px;
  color:#fff;
  background: #0d89ed;
  background: -moz-linear-gradient(top, #42a5f5 0%, #0d89ed 0%, #42a5f5 0%, #0d89ed 100%);
  background: -webkit-linear-gradient(top, #42a5f5 0%,#0d89ed 0%,#42a5f5 0%,#0d89ed 100%);
  background: linear-gradient(to bottom, #42a5f5 0%,#0d89ed 0%,#42a5f5 0%,#0d89ed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a5f5', endColorstr='#0d89ed',GradientType=0 );
}
.actions-btn .btn span{
  display: block;
}
.actions-btn .btn span:nth-child(1) {
  font-size:11px;
  color: #fff;
}
.actions-btn .btn span:nth-child(2) {
  font-size:15px;
}
.actions-btn .btn-downlaod:before{
  display: block;
  content: '';
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  height: 28px;
  width: 28px;
  top: 50%;
  left: 12px;
  margin-top: -14px;
}

.btn-downlaod.btn-app-store:before{
  background-image: url(../images/apple.svg);
}
.btn-downlaod.btn-google-play:before{
  background-image: url(../images/google-play.svg);
}
/*----------------------------------------
Footer
----------------------------------------*/
.footer-warpper {
    padding-top: 50px;
}
.footer {
    position: relative;
     background:#2e303c;
}
.sep-footer img{
    width:100%;
}

.sep-footer {
    position: relative;
    top: 10px;
}
 
.footer-top-content h1{
  font-size: 50px;
  color: #fff;
  line-height: 60px;

}
.btn.btn-facebook:hover, .btn.btn-facebook:focus, .btn.btn-facebook:active{
  color: white;
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn.btn-twitter:hover,  .btn.btn-twitter:focus, .btn.btn-twitter:active {
  color: white;
  background-color: #55acee;
  border-color: #55acee;
}

.btn.btn-google-plus:hover, .btn.btn-google-plus:focus, .btn.btn-google-plus:hover{

  color: white;
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.btn.btn-instgram:hover, .btn.btn-instgram:focus, .btn.btn-instgram:hover{

  color: white;
  background-color: #9b6954;
  border-color: #9b6954;
}
.subscribe-form{
  margin-top: 50px;
}
.list-social {
  padding-top: 15px;
}
.list-social a{
  background-color: #fff;
  width:40px;
  color:#8c6aff;
  line-height: 40px;
  font-size: 16px;
  padding: 0;
  border-radius: 100%;
  height: 40px;
}
.list-social a i{
  line-height: 40px;
}
.subscribe-form .form-control {
 outline: none;
 width: 55%;
 float:left;
 height: 55px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -wbekit-border-radius: 25px;
 padding:0 15px 0 15px;
 box-shadow: none;
 -webkit-box-sizing: content-box;
 -moz-box-sizing: content-box;
 box-sizing: content-box;
 transition: all .3s;
 background-color:#282832;
 border: 1px solid #282832;
}
.subscribe-form .btn-subscribe{
  position: relative;
    left:-50px;
 height: 55px;
   border-radius: 25px;
  -moz-border-radius: 25px;
  -wbekit-border-radius: 25px;
 padding:0 15px 0 15px;
 border-radius: 25px;
 -moz-border-radius: 25px;
 -wbekit-border-radius: 25px;
 color:#fff;
 background: #0d89ed;
 background: -moz-linear-gradient(top, #42a5f5 0%, #0d89ed 0%, #42a5f5 0%, #0d89ed 100%);
 background: -webkit-linear-gradient(top, #42a5f5 0%,#0d89ed 0%,#42a5f5 0%,#0d89ed 100%);
 background: linear-gradient(to bottom, #42a5f5 0%,#0d89ed 0%,#42a5f5 0%,#0d89ed 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a5f5', endColorstr='#0d89ed',GradientType=0 ); 
}
.btn-subscribe:hover,.btn-subscribe:focus, .btn-subscribe:active{
  background: #0d89ed;
  background: -moz-linear-gradient(top, #42a5f5 0%, #0d89ed 0%, #42a5f5 0%, #0d89ed 100%);
  background: -webkit-linear-gradient(top, #42a5f5 0%,#0d89ed 0%,#42a5f5 0%,#0d89ed 100%);
  background: linear-gradient(to bottom, #42a5f5 0%,#0d89ed 0%,#42a5f5 0%,#0d89ed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a5f5', endColorstr='#0d89ed',GradientType=0 ); 
}
#scrollUp{
  background: #0d89ed;
  background: -moz-linear-gradient(top, #42a5f5 0%, #0d89ed 0%, #42a5f5 0%, #0d89ed 100%);
  background: -webkit-linear-gradient(top, #42a5f5 0%,#0d89ed 0%,#42a5f5 0%,#0d89ed 100%);
  background: linear-gradient(to bottom, #42a5f5 0%,#0d89ed 0%,#42a5f5 0%,#0d89ed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a5f5', endColorstr='#0d89ed',GradientType=0 ); 
  border-radius: 100%;
  bottom: 30px;
  color: #ffffff;
  height: 45px;
  font-size: 22px;
  line-height: 3;
  right: 30px;
  line-height:45px;
  text-decoration: none;
  text-align: center;
  width: 45px;
}
.footer-bottom-content{
  padding-top: 60px;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.4);

}
.text-footer{
  max-width: 250px;
  padding-top: 15px;
}
.text-footer p{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.60;
}
.footer-bottom-content h5{
  position: relative;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;

}
.footer-bottom-content  .list-menu {
  position: relative;
}
.footer-bottom-content  .list-menu li{
 position: relative;
 margin-bottom: 10px; 
}
.footer-bottom-content  .list-menu li a {
  position: relative;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.footer-bottom{
  padding-top: 12px;
  padding-bottom: 12px;
}
.copyright {
  text-align: center;
}

.copyright p {
  margin: 0px auto;
  padding: 0px;
  color: #848484;
  font-size: 14px;
}


footer p.error-message {
  color: #e10438;
  margin-top:5px;
  margin-bottom:5px;
}

footer p.sucess-message {
  color: #4ec952;
  margin-top:5px;
  margin-bottom:5px;
}
.footer-inner span{
  line-height: 45px;
  font-size: 13px;

}
/*----------------------------------------
Modal
----------------------------------------*/

.modal-backdrop{
  background: rgba(20,31,114,0.6);
}
.connect-modal .modal-dialog{
  position: relative;
  float: left;
  width: 460px;
  z-index: 1;
  left: 50%;
  margin-left: -230px;
  margin-top: 100px;
  margin-bottom: 60px;
  text-align: center;
}
.connect-modal .modal-content{
  box-shadow: none;
  background: #ffffff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 20px 60px 40px 60px;
}
.connect-modal .modal-header {
  padding: 0;
  border-bottom: none;
}
.connect-modal .modal-header h3{
  color: #181b3a;
  font-size: 22px;
  margin-bottom: 5px;
}
.connect-modal .modal-header p{
  font-size: 18px;
  font-weight: 300;
  color: #637282;
}
.connect-modal button.close{
  position: absolute;
  top: 0;
  transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
  width: 50px;
  height: 50px;
  margin: 0 auto;
  float: none;
  left: 50%;
  opacity: 1;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-size: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #8c6aff;
}
.connect-modal .form-group input[type="email"],
.connect-modal .form-group input[type="password"],
.connect-modal .form-group input[type="text"]{
  width: 100%;
  position: relative;
  margin-bottom: 19px;
  border: 1px solid #e8ecec;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: none;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background: no-repeat;
  height: 45px;
  font-size: 13px;
  line-height: 45px;
  color: #474747;
}
.connect-modal .form-group {
  position: relative;
  margin-top: 15px;
}
.connect-modal .form-group i{
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 16px;
  line-height: 22px;
  color: #8c6aff;
}
.connect-modal .modal-footer {
  border-top: none;
}
.connect-modal .modal-footer .btn{
  width: 100%;
}

.connect-modal p.remember{
 float: left;
 margin: 0;
 font-size: 13px;
 
}
.connect-modal p.remember input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  z-index: -1;
  margin: 0;
}
.connect-modal p.remember label{
 position: relative;
 display: inline-block;
 padding: 0 0 0 32px;
 margin-right: 10px;
 height: 20px;
 line-height: 20px;
 cursor: pointer; 
}
.connect-modal  a{
  float: right;
  font-size: 13px;
  text-decoration: underline;
  line-height: 30px;
  color:#8c6aff;
}
.connect-modal label::before {
  content: " ";
  border: 2px solid #e6e7ef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.connect-modal label::before,.connect-modal label::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px !important;
  height: 20px !important;
}
.connect-modal input[type="checkbox"]:checked + label::before {
  background: #ffffff;
  border-color: #e6e7ef;
}
.connect-modal input[type="checkbox"] + label::after {
  font-family: 'ElegantIcons';
  content: "\4e";
  color: #8c6aff;
  line-height: 1.5;
  text-align: center;
  border: none !important;
}
.connect-modal input[type="checkbox"]:checked + label::before {
  background: #ffffff;
  border-color: #e6e7ef;
}
.connect-modal input[type="checkbox"] + label::after  {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.connect-modal input[type="checkbox"]:checked + label::after  {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.connect-modal label::before,
.connect-modal label::after {
  -webkit-transition: .25s all ease;
  -moz-transition: .25s all ease;
  -ms-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}


/*----------------------------------------
Blog
----------------------------------------*/
.blog-content, .right-sidbar-blog, .left-sidbar-blog {
    padding-bottom: 80px;
    padding-top: 80px;
}
 
.blog-header.navbar-default .navbar-nav>li>a{
 color: #fff;
}
.blog-header.navbar-default .navbar-nav>li>a:hover ,
.blog-header.navbar-default .navbar-nav li.active a,
.blog-header.navbar-default .navbar-nav>li>a:focus{
  color: #eee9;
}
.search{
  background-color: #f4f1ff;
  border: none;
  border-radius: 60px;
  max-width: 100%;
  width: 300px;
  padding: 0;
  margin: 20px auto 0 auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.search input{
  background-color: #f4f1ff;
  border: none !important;
  outline: none !important;
  padding: 10px 20px;
  float: left;
  border-radius: 60px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 80%;
  font-size: 16px;
  color: #71818c;
  
}
.search button{
  width: auto;
  padding: 10px 20px;
  border: none !important;
  outline: none !important;
  background: none;
  float: right;
  color:#8968ff;
}
.section-title-blog.section-padd{
  padding: 100px 0 100px 0;
}
.section-title-inner h1{
  font-size: 55px;
  margin-bottom: 25px;
  line-height: 65px;
  color: #fff;
  font-weight: 600;
  text-transform: none;
}
.section-title-inner p{
 font-size: 18px;
 font-weight: 300;
 line-height: 1.67;
    margin-bottom: 0;
 color: #fff;
}

.bottom-info-blog .avatar-blog img{
  width: 35px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.blog-card .info-blog h3 a, .bottom-info-blog .avatar-blog span{
  color: #181b3a;
}
.blog-card .info-blog  p{
 font-size: 15px;
 font-weight: 300;
 line-height: 1.4;
 color: #637282;  
}
.bottom-info-blog .avatar-blog{
  float: left;
}
.bottom-info-blog .date{
  float: right;
}
.bottom-info-blog .date span{
  font-size: 12px;
}
.blog-card{
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  border: 1px solid #efefef;
  -o-border-radius: 8px;
  border-radius: 8px; 
  margin-bottom: 40px;
}
.blog-card:hover,.blog-card:focus{
  -webkit-box-shadow: 0 10px 30px 0 rgba(220, 220, 220, 0.8);
  -moz-box-shadow: 0 10px 30px 0 rgba(220, 220, 220, 0.8);
  -ms-box-shadow: 0 10px 30px 0 rgba(220, 220, 220, 0.8);
  -o-box-shadow: 0 10px 30px 0 rgba(220, 220, 220, 0.8);
  box-shadow: 0 10px 30px 0 rgba(220, 220, 220, 0.8);
  transform: translateY(-0.25em);
}
.blog-card img{
 -o-border-radius: 8px 8px 0 0;
 border-radius: 8px 8px 0 0; 
 width: 100%;
}
.blog-card .info-blog{
  padding: 15px;
}

.info-blog h3{
  margin-top: 0;
}
.info-blog h3 a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #222;
  margin-bottom: 20px;
}
.blog-top-img{
  position: relative;
}
.pagination-page {
  position: relative;
  text-align: center;
}
.pagination-page .pagination>li>a,
.pagination-page .pagination>li>span{
  color:#0d89ed;
}
.pagination-page  .pagination>.active>a{
  background: #0d89ed;
  border-color: #0d89ed;
  color:#fff;
}
.right-sidbar-blog .search, .left-sidbar-blog .search{
  width: 100%;
  margin: 0 auto 0 auto; 
}
.sidebar-side h3{
  color: #181b3a;
  font-size:18px;
  margin-bottom: 20px;
  font-weight: 700;
}
.sidebar-post-inner{
  margin-bottom: 15px;
}
.sidebar-post-inner a{
  position: relative;
  display: block;
}
.sidebar-post-inner img{
  width: 70px;
  height: auto;
  float:  left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: inline-block;
}
.post-summary{
 display: inline-block;
 overflow: hidden;
 padding-left: 10px;
}
.post-summary span{display: block;color: #181b3a;font-weight: 500;line-height: 20px;font-size: 16px;}
.post-summary small{
 font-size: 12px;
 color: #637282;
}
.sidebar-categroies .catgeorie-list {
    position: relative;
}
.sidebar-categroies .catgeorie-list li{
    position: relative;
    line-height: 24px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.sidebar-categroies .catgeorie-list li:last-child{
  border-bottom: none;
}
.sidebar-categroies .catgeorie-list li a{
  color: #23527c;
  display: block;
}
.sidebar-search , .sidebar-categroies, .sidebar-post{
  margin-bottom: 50px;
}
.tags-inner a{
 position: relative;
 display: inline-block;
 margin: 0px 5px 8px 0px;
 line-height: 24px;
 padding: 8px 22px;
 background: #ffffff;
 border: 1px solid #e4e4e4;
 text-align: center;
 font-size: 14px;
 color: #637282;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;

}
.tags-inner a:hover, .tags-inner a:focus{
  border: 1px solid #8968ff;
  background: #8968ff;
  color: #fff;
}
.right-sidbar-blog .sidebar-side{
  padding-left: 30px;
}
.left-sidbar-blog .sidebar-side{
  padding-right: 30px;
}
.post-full-wdith .blog-card {
  border: none;

}

.post-full-wdith .blog-card .info-blog{
  padding: 15px 0;
}

.post-full-wdith .blog-card:hover,.post-full-wdith .blog-card:focus{
  box-shadow: none;
  transform:none;
}
/*----------------------------------------
Signle post
----------------------------------------*/


.blog-image{
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 9, 128, 0.05), 0 2px 5px rgba(0, 9, 128, 0.035);
  background-size: cover;
  background-position: center center;
} 
.blog-content-inner .bottom-info-blog{
  padding: 15px 10px;
}
.quote-blog {

  margin: 35px 0;
}
.blog-text p{
 font-size: 18px;
 font-weight: 300;
 line-height: 1.67;
 color: #637282; 
}
.quote-blog p{
  color:#181b3a;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
}
.quote-blog blockquote{
  position: relative;
  border-left: none;
  padding: 20px 30px;
}
.quote-blog blockquote span{
  color:#8767ff;
  font-weight: 600;
}
.quote-blog blockquote i{
  font-family: 'ElegantIcons';
  content: "\7b";
  position: relative;
  color: #8767ff;
  float:left;
  font-size: 150px;

}
.blog-share{
  margin-top: 20px;
}
.blog-share .btn{
  margin-right: 15px;
  position: relative;
  color: #fff;
  text-transform: none;
}
.blog-share .btn.btn-facebook{
  background-color: #3b5a9a;
}
.blog-share .btn.btn-twitter{
  background-color: #56adf2;
}
.blog-share .btn i{
  position: absolute;
  left:12px;
  bottom:15px;
  font-size: 16px;
}
.comment-blog h3{
  font-weight: 400;
  margin-bottom: 45px;
}
.avatar-blog img{
  float: left;
  border:1px solid #eaeaea;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 60px;
  margin-right:15px;
}
.comment-blog-text{
  overflow: hidden;
}
.comment-blog-text span{
  display: block;
  color:#181b3a;
  font-weight: 600;
}
.comment-blog-inner p{
  margin-top: 5px;
}
.comment-blog-text a{
  color:#181b3a;
}
.comment-blog-text small{
  color:#999;
}
.comment-blog-inner{
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.comment-blog-inner:last-child{
  border-bottom: none;
}
.blog-reply{
  padding-left: 75px;
}
.form-comment textarea{
 box-shadow: none;
 background-color: #f5f5f5;
 border: 1px solid #d8d8d8;
}
.comment-text-form h3{
  margin-bottom: 15px;
}

